<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <link rel="stylesheet" href="/style.css">
        <title>{{ or .Title .Site.Title }}{{ if ne .Kind "home" }} - {{.Site.Params.author}} {{ end }}</title>

    </head>
    <body>
        <header>
            {{ partial "header.html" . }}
        </header>
        {{ block "page" . }}{{ end }}
    </body>
</html>

